# Ansible Azure Deployment Requirements
ansible>=2.9.0
requests>=2.25.0
packaging
azure-cli-core
azure-common
azure-identity>=1.3.1
azure-mgmt-authorization
azure-mgmt-compute>=30.0.0
azure-mgmt-containerinstance
azure-mgmt-containerregistry
azure-mgmt-containerservice
azure-mgmt-dns
azure-mgmt-keyvault
azure-mgmt-marketplaceordering
azure-mgmt-monitor
azure-mgmt-network
azure-mgmt-notificationhubs
azure-mgmt-rdbms
azure-mgmt-resource>=21.0.0
azure-mgmt-sql
azure-mgmt-storage
azure-mgmt-trafficmanager
azure-mgmt-web
msrestazure>=0.6.4
